/* Background styles */
body {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Montserrat", "Poppins", sans-serif;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glassmorphism card effect */
.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  width: 80%;
}
.flex {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
  width: 100px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 20px 50px;
}

.container > .options {
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}
#rock,
#paper,
#scissors {
  width: 100px;
}
.results {
  margin-bottom: 30px;
}
